.header{

  background-color: #96ecff;
  padding-bottom: 50px;
  
}
.header-logo {
  margin-bottom: 20px;
  height: 40px;
  font-size: 60px;
  text-align:center;
  letter-spacing :100px;
  margin: 10px 20px;
  font-family: embed;
}
